<div class="login">
	<div class="container">
		<% if flash[:alert] %>
		<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		<div class="form">

			<h1>Log in</h1>
			
			<%= render 'form' %>

		</div>
	</div>
</div>