<div id="site-wrapper">
	<div id="site-wrapper-inner">
		<div class="cover-container">

			<%= render 'header' %>
			
			<div class="inner cover">
				<h1 class="cover-heading">NFC Reimagined</h1>
				<p class="lead">Track your real world advertisements with ease.</p>
				<p class="lead"><%= link_to "Register", signup_path, :class => "btn btn-lg btn-default", :id => "signup=button" %></p>
			</div>

			<%= render 'footer' %>

		</div>
	</div>
</div>