
<% if flash[:alert] %>
<div class="alert alert-success"><%= flash[:alert] %></div>
<% end %>

<div class="center jumbotron">
	<h1>Track your real world assets</h1>
	<h2>Keep track of the effectiveness of your deployed NFC tags and calculate ROI on physical ads.</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>