<div class="site-wrapper layout-full-height">
	<div class="page-container layout-full-height">
		
		<%= render 'header' %>
		
		<div class="cover-container">

			<div class="inner cover">
				<h1 class="cover-heading">NFChief</h1>
				<p class="lead">Real world, physical ROI analysis. </br>
				Mass NFC tag configuration and management.</p>
				<p class="lead"><%= link_to "Get Started!", signup_path, :class => "btn btn-lg btn-default", :id => "signup=button" %></p>
			</div>
		</div> <!-- cover-container -->

		<%= render 'footer' %>

	</div> <!-- page-container -->
</div> <!-- site-wrapper -->