// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Welcome Globals */

a,
a:focus,
a:hover {
	color: #fff;
}

html {
	height: 100%;
	body {
		height: 100%;
	}
}

#site-wrapper {
	height: 100%;
	width: 100%;
	color: #fff;
	background-color: #333;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display: table;
	#site-wrapper-inner {
		display: table-cell;
		vertical-align: middle;
		.cover-container {
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.inner {
	padding: 30px;
}

.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav {
	li {
		display: inline-block;	
		a {
			padding-right: 0;
			padding-left: 0;
			font-size: 16px;
			font-weight: bold;
			border-bottom: 2px solid transparent;
			&:hover {
				background-color: transparent;
				border-bottom-color: rgba(255,255,255,.25);
			}
		}
	}
	.active {
		a {
			border-bottom-color: #fff;
		}
	}
}

.masthead-nav > li + li {
	margin-left: 20px;
}

@media (min-width: 768px) {
	
	.masthead-brand {
		float: left;
	}

	.masthead-nav {
		float: right;
	}
}


/* Cover */

.cover {
	padding: 0 20px;
	.btn-lg {
		padding: 10px 20px;
		font-weight: bold;
	}
}

/* Footer */

.mastfoot {
	color: rgba(255,255,255,.5);
}

/* Affix and center */

@media (min-width: 768px) {
	/* Pull out the header and footer */
	.masthead {
		position: fixed;
		top: 0;
	}
	.mastfoot {
		position: fixed;
		bottom: 0;
	}

	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}

	.masthead, 
	.mastfoot, 
	.cover-container {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 700px;
	}
}





